// General Style

//global


.text-shadow {
    text-shadow: 1px 1px 1px #000;
}

//text sizes
.text-small {
    font-size: .75rem;
}

.text-medium {
    font-size: 2rem;
}

.text-large {
    font-size: 3rem;
}

//text colors
.text-black {
    color: $black;
}

.text-yellow {
    color: $yellow;
}

.text-dark-yellow {
    color: $darkYellow;
}

.text-green {
    color: $green;
}

.text-blue {
    color: $blue;
}

.text-grey {
    color: $fontGrey;
}

//background colors
.bg-black {
    background-color: $black;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-green {
    background-color: $green;
}

.bg-white {
    background-color: $white!important;
}

.bg-blue {
    background-color: $blue;
}

.inside-border-yellow {
    border: 1px solid $black;
    outline: 2px solid $yellow;
    outline-offset: -7px;
}

.inside-border-white {
    border: 1px solid $black;
    outline: 2px solid $white;
    outline-offset: -7px;
}

a:hover {
    text-decoration: none;
}

.content {
    line-height: 1.5;

    h3 {
        text-shadow: 2px 2px 0px #ffc64f;
    }
}

.portfolio-project {
    top: -1px;
    transition: 0.3s;
    -webkit-backface-visibility: hidden;

    img {
        width: 100%;
        // this hack solves the the flicker on hover
        margin-bottom: -1px;
    }

    .portfolio-box-caption {
        font-size: 1rem;
    }

    span {
        color: #fff;
    }
}



.portfolio-project:hover {
    position: relative;
    top: -5px;

    span {
        color: $black !important;
    }

    .portfolio-box-caption {
        background-color: $yellow;
        color: $black !important;
    }


}



//backgrounds
.bolt-bg {
    position: relative;
}

.bolt-bg:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .25;
    background-image: url("../img/GN-Bolt-Pattern.png");
    background-repeat: repeat;
}