// Layout Style
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $brandon, sans-serif;
    font-size: 1.1rem;
    letter-spacing: .025rem;

    p {
        letter-spacing: 0rem;
    }
}

header {
    width: 100%;
    height: 100%;
}

.content {
    z-index: 1;
}

.page-footer {
    ul {
        list-style-type: none;
        line-height: 1.25;
    }
}

.page-footer a.active {
    color: $yellow !important;
}

.page-footer a:hover {
    color: $yellow !important;
}

.footer-socials a i:hover {
    color: $yellow !important;
}

.stormbox {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


// Canvas Styles
#rainbox {
    width: 100vw;
    height: 100vh;
}

// MAIN LOGO START
h1.logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/assets/img/logo.png");
    font-size: 0px;
    background-position: 50% 50%;
    -webkit-transition: background-position .5s ease;
    -moz-transition: background-position .5s ease;
    transition: background-position .5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 5%;
    min-height: 380px;
}

a.logo {
    position: absolute;
    top: .4rem;
    right: 0;
    bottom: 0;
    left: .5rem;
    background-image: url("/assets/img/logo.png");
    font-size: 0px;
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.head-info {
    padding: 0px 0px 10px 0px;
    letter-spacing: 0;

    h2 {
        font-size: 2.5rem;
        line-height: 0.9;
        text-shadow: 2px 2px 0px rgba(255, 198, 79, 1);
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (min-width:768px) {
    h1.logo {
        background-image: url("/assets/img/logo.png");
        max-height: none;
    }

    .head-info {
        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

.project-name,
.project-roles {
    line-height: 1.25;
}

.project-roles {
    font-size: .75rem;
}

//Video Header Page
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 3;
}

@media (pointer: coarse) and (hover: none) {
    .tcs header.video-header {
        background: url('/assets/img/portfolio/fullsize/tcs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .hq header.video-header {
        background: url('/assets/img/portfolio/fullsize/hq-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .bs header.video-header {
        background: url('/assets/img/portfolio/fullsize/bs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .br4ss header.video-header {
        background: url('/assets/img/portfolio/fullsize/brs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    header.video-header video {
        display: none;
    }
    header.video-header::before {
    display: none;
}
}
// Pattern overlay
header.video-header::before {
    content: "";
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGBogGIGEGAEk0gAWQCsEkMFAFLuAgUPsJBaAAAAAElFTkSuQmCC') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
}

// ------------------------------------------------------------------
/*  BURGER MENU
========================================== */
.menu {
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 1100;
    top: -1%;
    right: -1%;
}

.menu span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
    z-index: 1100;
}

.menu span,
.menu span::before,
.menu span::after {
    display: block;
    width: 26px;
    right: 0;
    height: 3px;
    background-color: $yellow;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
    box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
}

.menu span::before,
.menu span::after {
    position: absolute;
    content: "";

}

.menu span::before {
    top: -9px;
    width: 20px
}

.menu span::after {
    top: 9px;
    width: 33px;

}

.menu.clicked span {
    background-color: transparent;
    box-shadow: none;
}

.menu.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    width: 33px;
    box-shadow: none;
}

.menu.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
    box-shadow: none;
}

.menu.clicked span:before,
.menu.clicked span:after {
    background-color: $yellow;
}

.menu:hover {
    cursor: pointer;
}

/*  NAV
========================================== */

#nav {
    background-color: $black;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 400px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    opacity: 0.97;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.menu.clicked {
    position: fixed;
    z-index: 1100;
}

#nav.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
}

#nav.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
}

#nav.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
}

#nav.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
}

#nav.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
}

#nav.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
}

#nav.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
}

#nav.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
}

#nav.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
}

#nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .85s;
}

@media (min-width: 667px) {
    #nav {
        padding: 120px 30px 70px 20px;
    }
}

#nav ul.main {
    list-style-type: none;
}

#nav ul.main li {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: none;
    width: 100%;
}

#nav ul.main li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.main li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    padding: 25px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#nav ul.main li a.active {
    color: $yellow;
}

// creates lines under nav items
#nav ul.main li a:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    /* This will center the border. */
    width: 10%;
    /* Change this to whatever width you want. */
    margin-top: 2px;
    /* This creates some space between the element and the border. */
    border-bottom: 3px solid $yellow;
    /* This creates the border. Replace black with whatever color you want. */
}

#nav ul.main li a span {
    color: #fff;
}

#nav ul.main li a:hover {
    color: $yellow;
}

#nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#nav ul.sub li {
    margin-bottom: 10px;
}

#nav ul.sub li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.sub li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav ul.sub li a:hover {
    color: #b7ac7f;
}

.nav-up {
    top: -100px !important;
}

.nav-down {
    top: .04rem !important;
}

// START PAGE CONTENT
.roles {
    border-top: 3px solid $yellow;
    border-bottom: 3px solid $yellow;

    h2 {
        font-size: 2.5rem;
        text-shadow: 2px 2px 0px rgba(203, 153, 53, 1);
    }

    h2:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */
        margin: 0 auto;
        /* This will center the border. */
        width: 5%;
        /* Change this to whatever width you want. */
        margin-top: 2.5px;
        /* This creates some space between the element and the border. */
        border-bottom: 2px solid $white;
        /* This creates the border. Replace black with whatever color you want. */
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 1rem;
    }
}

.contributed {
    ul {
        list-style: none;
        font-size: .95rem;
    }
}