// Layout Style
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $brandon, sans-serif;
    font-size: 1.1rem;
    letter-spacing: .025rem;

    p {
        font-family: $freight, sans-serif;
        letter-spacing: 0rem;
        margin-bottom: .5rem;

    }
}

header {
    width: 100%;
    height: 100%;
}

h3 {
    margin-bottom: 1rem;
}

.container-fluid.standard-def {
    max-width: 2000px;
}

.page-footer {
    ul {
        list-style-type: none;
        line-height: 1.25;
    }
}

.page-footer a.active {
    color: $yellow !important;
}

.page-footer a:hover {
    color: $yellow !important;
}

.footer-socials a i:hover {
    color: $yellow !important;
}

a.logo.webp {
    position: absolute;
    top: .4rem;
    right: 0;
    bottom: 0;
    left: .5rem;
    background-image: url("/assets/img/logo/logo.webp");
    font-size: 0px;
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.logo.no-webp {
    position: absolute;
    top: .4rem;
    right: 0;
    bottom: 0;
    left: .5rem;
    background-image: url("/assets/img/logo/logo.png");
    font-size: 0px;
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*  BURGER MENU========================================== */

.menu-lines {
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 1100;
    top: -1%;
    right: -1%;
}

.menu-lines span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
    z-index: 1100;
}

.menu-lines span,
.menu-lines span::before,
.menu-lines span::after {
    display: block;
    width: 26px;
    right: 0;
    height: 3px;
    background-color: $yellow;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
    box-shadow: 1px 1px 0px 0px rgba(203, 153, 53, 1);
}

.menu-lines span::before,
.menu-lines span::after {
    position: absolute;
    content: "";

}

.menu-lines span::before {
    top: -9px;
    width: 20px
}

.menu-lines span::after {
    top: 9px;
    width: 33px;

}

.menu-lines.clicked span {
    background-color: transparent;
    box-shadow: none;
}

.menu-lines.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    width: 33px;
    box-shadow: none;
}

.menu-lines.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
    box-shadow: none;
}

.menu-lines.clicked span:before,
.menu-lines.clicked span:after {
    background-color: $yellow;
}

.menu-lines:hover {
    cursor: pointer;
}

/*  NAV
========================================== */

#nav {
    background-color: $black;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 500px;
    width: 100%;
    padding: 100px 40px 60px 40px;

    @media (min-width: 667px) {
        padding: 120px 30px 70px 20px;
    }

    overflow-y: auto;
    opacity: 0.97;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.menu.clicked {
    position: fixed;
    z-index: 1100;
}

#nav.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
}

#nav.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
}

#nav.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
}

#nav.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
}

#nav.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
}

#nav.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
}

#nav.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
}

#nav.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
}

#nav.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
}


#nav ul.main {
    list-style-type: none;
}

#nav ul.main li {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: none;
    width: 100%;
}

#nav ul.main li:last-of-type {
    margin-bottom: 0px;
}

#nav ul.main li a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    padding: 25px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav ul.main li a.active {
    color: $yellow;
}

#nav ul.main li a:hover {
    color: $yellow;
}

// creates lines under nav items
#nav ul.main li a:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    /* This will center the border. */
    width: 10%;
    /* Change this to whatever width you want. */
    margin-top: 2px;
    /* This creates some space between the element and the border. */
    border-bottom: 3px solid $yellow;
    /* This creates the border. */
}

#nav ul.main li a span {
    color: $white;
}


.nav-up {
    top: -100px !important;
}

.nav-down {
    top: .04rem !important;
}

.social-nav a i:hover {
    color: $yellow !important;
}

//Video Header Page
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 3;
}

@media (pointer: coarse) and (hover: none) {
    .tcs header.video-header.webp {
        background: url('/assets/img/tcs/tcs-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .tcs header.video-header.no-webp {
        background: url('/assets/img/tcs/tcs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .hq header.video-header.webp {
        background: url('/assets/img/hq/hq-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .hq header.video-header.no-webp {
        background: url('/assets/img/hq/hq-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .bs header.video-header.webp {
        background: url('/assets/img/bs/bs-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .bs header.video-header.no-webp {
        background: url('/assets/img/bs/bs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .br4ss header.video-header.webp {
        background: url('/assets/img/br4ss/brs-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .br4ss header.video-header.no-webp {
        background: url('/assets/img/br4ss/brs-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .gj header.video-header.webp {
        background: url('/assets/img/gj/gj-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .gj header.video-header.no-webp {
        background: url('/assets/img/gj/gj-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    .mutiny header.video-header.webp {
        background: url('/assets/img/mutiny/mutiny-header-bg.webp') $black no-repeat center center scroll;
        background-size: cover;
    }

    .mutiny header.video-header.no-webp {
        background: url('/assets/img/mutiny/mutiny-header-bg.jpg') $black no-repeat center center scroll;
        background-size: cover;
    }

    header.video-header video {
        display: none;
    }

    header.video-header::before {
        display: none;
    }
}

// Pattern overlay
header.video-header::before {
    content: "";
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGBogGIGEGAEk0gAWQCsEkMFAFLuAgUPsJBaAAAAAElFTkSuQmCC') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
}

// START HOMEPAGE CONTENT ----------------------------------------------------/
.stormbox {
    z-index: 2;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


// Canvas Styles
#rainbox {
    width: 100vw;
    height: 100vh;
}

// Main Rainbox Logo
h1.logo.webp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/assets/img/logo/logo.webp");
    font-size: 0px;
    background-position: 40% 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 5%;
    min-height: 380px;
}

h1.logo.no-webp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/assets/img/logo/logo.png");
    font-size: 0px;
    background-position: 40% 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 5%;
    min-height: 380px;
}

@media screen and (min-width:768px) {
    h1.logo {
        .webp {
            background-image: url("/assets/img/logo/logo.webp");
            max-height: none;
        }

        .no-webp {
            background-image: url("/assets/img/logo/logo.png");
        }
    }
}

.head-info {
    position: relative;
    letter-spacing: 0;
    padding: 0px;
    margin: 50px 0;
    z-index: 2;

    h2 {
        font-size: 2.8rem;
        line-height: 0.9;
        // text-shadow: 2px 2px 0px $yellow;

    }

    p {
        font-size: 1rem;
        font-family: $freight;
        letter-spacing: .3px;
    }
}

@media screen and (min-width:768px) {
    .head-info {
        h2 {
            font-size: 3rem;
            z-index: 10;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width:1140px) {
    .head-info {
        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

.portfolio-project {
    h2.project-title {
        line-height: .65;

        span.emoji-img {
            line-height: 1.4;
        }

        @media screen and (max-width:500px) {
            span.project-title-category {
                font-size: 1.5rem;
            }
        }

        span.project-title-roles {
            font-size: 1rem;
            font-family: $freight;
        }
    }
}


// START PAGE CONTENT ----------------------------------------------------/

.roles {
    border-top: 3px solid $yellow;
    border-bottom: 3px solid $yellow;
    font-family: $freight;

    h3 {
        font-size: 2.1rem;
        // text-shadow: 1px 1px 0px rgba(203, 153, 53, 1);
    }

    h3:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */
        margin: 0 auto;
        /* This will center the border. */
        width: 5%;
        /* Change this to whatever width you want. */
        margin-top: 2.5px;
        /* This creates some space between the element and the border. */
        border-bottom: 3px solid $yellow;
        /* This creates the border. Replace black with whatever color you want. */
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 1rem;
    }
}


.section-title {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.3rem;
    @media screen and (min-width:768px) {
        font-size: 2.3rem;
    }
}

// hi, i'm Gary title styles
#about-me .section-title {
    font-size: 2rem;
    margin-left: 0px;
}

.section-title:before,
.section-title:after {
    background-color: $yellow;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: super;
    width: 15px;
}

.section-title:before {
    top: .05em;
    right: .50em;
}

.section-title:after {
    top: .05em;
    left: .50em;
}

h2.section-title {
    font-size: 2rem;
    @media screen and (min-width:768px) {
        font-size: 3rem;
    }
}

.project-title {
    line-height: 1.25;
}

.my-work {
    h3 {}

}

.technologies ul {
    list-style: none;
    font-size: 1rem;
    font-family: $freight;

    li {
        line-height: .9;
    }
}

