// Variables

//fonts
$brandon: 'brandon-grotesque';
$freight: 'freight-sans-pro';

//colors
$green: #669933;
$white: #f0f3f2;
$black: #000000;
$blue: #61888e;
$yellow: #ffc64f;
$darkYellow: #cb9935;
$fontGrey:#808080;
